# Xcode
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xcuserdata
*.xcscmblueprint
*.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# Swift package manager
/.build/
/.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
/fastlane/report.xml
/fastlane/Preview.html

# personal settings
*.DS_Store

# macOS
*.DS_Store

# Bundler
/.bundle/

# Derived files
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
